/* HEADER - header-head */

.header-head {
    height: 8vh;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;

    /* z-index: 1; */
}

.header-head > div > * {
    margin: 0 1rem;
}

/* HEADER - jumbotron */

.jumbotron {
    padding-top: 8vh;
    background-color: #b4d0e7;
}

.jumbotron img {
    width: 750px;
}

/* MAIN - 1/8 */

.row {
    justify-content: space-between;
}

.column {
    width: 30%;
    border: 1px solid black;
}

.column ul {
    list-style: none;
}

/* MAIN 3/8 */

.resize {
    width: 90%;
}

/* MAIN 6/8 */

.logo-bar > div {
    width: calc(100% /3);
}

.logo-box {
    width: 20vw;
    height: 287px; /* se metto 20vw non funziona! */
    justify-content: center;
}

.logo-box > img {
    max-width: 50%;
  
}

.logo-bar-center {
    padding: 20px;
}

/* MAIN 6/8 background colors */

.alfa {
    background-color: green;
    border: 10px solid lightgreen;
}

.bravo {
 background-color: brown;
}

.charlie {
    background-color: lightskyblue;
    /* height: 37px; */
    text-align: center;
}
.charlie > img {
    padding-top: 47%;
}

.delta {
    background-color: red;
}

.echo {
    background-color: red;
}

.foxtrot {
    background-color: lightblue;
}

.golf {
    background-color: blue;
}

.hotel {
    background-color: yellow;
}

/* MAIN - 7/8 */

.start {
    background-color: #b4d0e7;
}

/* MAIN - 8/8 */

.questions span {
    width: 100%;
}

.coso {
    flex-direction: column;
}

/* FOOTER */

footer {
    background-color: black;
}
footer nav {
    justify-content: space-between;
}

footer ul {
    list-style: none;
    color: white;
}

#language-picker-select {
	text-decoration: none;
	border: 0;
	margin: 0;
	font-size: 15px;
	color: white;
	background-color: transparent;
}