/* HEADER - header-head */

.header-head {
    height: 8vh;
    width: 100vw;
    justify-content: space-between;
    background-color: #ffffff;
    z-index: 1;
}

.header-head > div > * {
    margin: 0 1rem;
}

.header-head a {
    line-height: 8vh;
    padding-bottom: 3vh;
}

.header-head button {
    padding: .4rem .8rem;
}

/* HEADER - jumbotron */

.jumbotron {
    padding-top: 5vh;
}

.jumbotron > .container-big {
    top: 3rem;
}

.jumbotron img {
    width: 750px;
}

h1 {
    margin: 4rem auto 2rem;
    font-size: 4.7rem;
    font-weight:900;
}
.jumbotron button {
    margin: 2rem auto;
}

.jumbotron .arrow {
    font-size: 4rem;
    margin-top: 4.5rem;
}

/* MAIN - 1/8 */

main {
    margin-top: 3rem;
}

.billing {
    margin: 3rem 3rem 3rem 0;
}

.circle {
    border-radius: 50%;
    background-color: white;
    width: 1.2rem;
    margin-right: .3rem;
}

.circle.blue {
    border: .3rem solid blue;
}

.circle.white {
    border: .3rem solid white;
}

.row { 
    justify-content: space-between;
}

.column {
    width: 30%;
    border: 1px solid grey;
}

.column-header {
    padding: .8rem;
    border-bottom: 1px solid grey;
    display: block;
    text-align: center;
}

.column ul {
    list-style: none;
}

.column button {
    width: 100%;
}

ul .fa-check {
    color: blue;
} 

.row li {
    padding: 0.5rem 0 0.85rem 0;
}

/* MAIN 2/8 */

.section-main-2 {                    /*UTILS?*/
    border: 1px solid grey;
}

/* MAIN 4/8 */

.column-nb {
    width: 30%;
}

/* MAIN 6/8 */

.logo-bar {
    padding-bottom: 0;
    margin-bottom: 0;
}

.logo-bar > div {
    width: calc(100% /3);
}

.logo-box {
    width: calc(100vw / 3 / 2);
    height: calc(100vw / 3 / 2);
    justify-content: center;
}

.logo-box > img {
    max-width: 50%;
    filter: invert(100%);
}

.logo-bar-center {
    overflow: auto;
    height: calc(100vw / 3 - 2rem);
}

/* MAIN 6/8 background colors */

.alfa {
    background-color: #a2d39b;
    border: 10px solid #d1e9cd;
}

.bravo {
 background-color: #61082b;
}

.charlie {
    background-color: #0093ce;
    text-align: center;
}
.charlie > img {
    padding-top: 47%;
}

.delta {
    background-color: #ff1c1c;
}

.echo {
    background-color: #d5001f;
}

.foxtrot {
    background-color: #b4d0e7;
}

.golf {
    background-color: #0d2481;
}

.hotel {
    background-color: #ffd830;
}

/* MAIN - 7/8 */

.col-h2 {
    color: #61082b;
}

/* MAIN - 8/8 */

.lin { /* se no quando "si apre" la sezione cambia misure e fa schifo */
    height: 35rem;
}

.p-bot {
    padding-bottom: 3rem;
}

.questions > div {
    justify-content: space-between;
    /* border-top: 1px solid grey; */
    padding: 1.5rem 1.5rem 1.5rem 0;
}

.b-bot {
    border-bottom: 1px solid grey;
}

.ciao {
    flex-direction: column;
}

.questions .fr {
    right: 0;
    top: 0;
}

.hover-item {
    display: none;
}

/* FOOTER */

footer {
    background-color: #000000;
}
footer nav {
    justify-content: space-between;
}

footer ul {
    list-style: none;
    color: #ffffff;
}

footer li {
    padding: .5rem
}

.fa-earth-americas {
    color: grey;
    margin-right: .3rem;
}

#language-picker-select {
	text-decoration: none;
	border: 0;
	margin: 0;
	font-size: 15px;
	color: grey;
	background-color: transparent;
}